@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
body {
  /* height: 810px; */
  min-width: 360px;
  /* width: 375px; */
  font-family: "Hanna";
  margin: 0;
}

div {
  background-color: whitesmoke;
}

.head {
  height: 45px;
  display: grid;
  grid-template-columns: 120px 1fr;
  background-color: black;
  /* padding: 8px; */
  align-items: center;
  text-align: center;
}
i.head {
  color: red;
  align-items: center;
}
#head {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  height: 45px;
  margin-bottom: 0;
  background-color: black;
  padding-left: 5px;
  /* background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px; */
}
#head_btn {
  display: block;
}

#title {
  color: white;
  font-weight: lighter;
  font-size: 22px;
  font-family: fantasy;
}

.video {
  background-color: white;
  height: 35%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  height: 30%;
  display: grid;
  grid-template-rows: 45% 30% 25%;
  background-color: whitesmoke;
  font-size: 100%;
  /* text-align: center; */
  /* vertical-align: middle; */
  padding: auto;
}
.info_title {
  margin-left: 12px;
  margin-right: 12px;
}
.info_title p {
  font-size: 18px;
  font-weight: bolder;
  padding: 7px;
}

.info_like {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-weight: bold;
  line-height: 100%;
  text-align: center;
  align-items: center;
  /* border-top: 1px rgb(107, 107, 107) solid; */
}
i.info_like {
  font-size: larger;
}
/* .info_like_ {
    padding: 3px;
  } */
#info {
  font-size: smaller;
}

/* .info_like > p {
    margin: 0;
  } */

.info_like p {
  margin: 2px;
  font-weight: bolder;
  color: slategrey;
}
.info_like button {
  width: 100%;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
  border: 0;
  background-color: whitesmoke;
}
/* p#info_share {
    margin: 0;
  } */
#bt_like_ {
  display: none;
}
#bt_dislike_ {
  display: none;
}
#share-pop {
  display: none;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: black;
  z-index: 10000;
}
.info_tuber {
  display: grid;
  grid-template-columns: 50px auto 80px;
  /* height: 50px; */
  align-items: center;
  border-top: 1px rgb(107, 107, 107) solid;
}
#pic {
  text-align: center;
  vertical-align: middle;
}
#nick {
  font-size: larger;
  font-weight: bolder;
}
#subscribe {
  text-align: center;
  font-weight: bolder;
  color: red;
}
#subscribe_ {
  display: none;
  text-align: center;
  font-weight: bolder;
  color: rgb(90, 90, 90);
}
.next {
  height: 1fr;
  padding: 3px;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  /* overflow: scroll; */
}
/* #video {
  border-top: rgb(107, 107, 107) 1px solid;
} */
.next div {
  display: block;
  height: 100%;
}
.next_videos {
  border-top: rgb(107, 107, 107) 1px solid;
}
.next img {
  height: 100%;
  float: left;
  padding-right: 10px;
}

.next a {
  float: inline-start;
  /* padding-top: 5px;
    margin-top: 10px; */
  align-self: center;
  /* text-align: center;*/
  /* margin-left: 20px; */
  /* float: right; */
}
/* .next_videos {
  border-bottom: 1px rgb(107, 107, 107) solid;
} */
